<script>
  import { ripple, scrollProgress } from '../../src'

  const animationTrigger = {
    animation: (anime, node, finder) => {
      return [
        anime({
          targets: finder(node, 'h1'),
          easing: 'linear',
          translateY: ['-20vh', '90vh'],
          translateX: '80vw',
          autoplay: false,
        }),
        anime({
          targets: finder(node, 'p'),
          easing: 'linear',
          fontSize: v => v * 2,
          color: '#00ff00',
          autoplay: false,
        }),
      ]
    },
  }

  let hasButton = true
</script>

<style>
  h1 {
    color: purple;
  }

  section {
    height: 100vh;
    margin: 8px;
    background-color: red;
    color: white;
    overflow: hidden;
  }
</style>

<div use:ripple>
  <h1>Hello!</h1>
</div>

{#if hasButton}
  <button use:ripple on:click={() => (hasButton = false)}>B</button>
{:else}
  <button use:ripple on:click={() => (hasButton = true)}>A</button>
{/if}

<h1 use:ripple>Hello!</h1>
<h1 use:ripple>Hello!</h1>

<section />
<section use:scrollProgress={animationTrigger}>
  <h1>Hello</h1>
  <p>BLA BLA</p>
</section>
<section />
